name: Deploy docs

on:
  push:
    branches:
      - master  # adjust if your default branch is different
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install MkDocs Material
        run: |
          pip install mkdocs-material

      - name: Build and deploy MkDocs site
        run: |
          mkdocs gh-deploy --force
